.Wordle {
    text-align: center;
    margin-top: 50px;
    color: white;
  }

  span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }

  input {
    margin-top: 20px;
    font-size: 16px;
    padding: 5px;
  }
  
  
  button {
    padding: 10px 28px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 20px;
    letter-spacing: 2px;
    background-color: transparent;
    color: white;
    position: relative;
    top: 7px;
  }

  button:hover{
    background-color: white;
    color:black;
  }


  .correct {
    background-color: #8bc34a; /* Light green */
  }

  .correct-wrong-position {
    background-color: #ffeb3b; 
  }

  


  
  